.header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 100;
    /* align-items: center; */
    cursor: pointer;
    background-color: rgb(148, 112, 113);
    background-color: rgb(20, 20, 20);
    background-color: transparent;
    height: 77px;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    background-color: #101010;
}
.header_left ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.header_right ul {
    display: flex;
    flex-direction: row;
    align-items: right;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.nav_black {
    background-color: rgb(20, 20, 20);
}

.header_container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
