.row {
  margin-left: 20px;
  color: white;
  margin-top: 30px;
}

.row_title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
}

.row_posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
  gap: 10px;
  scrollbar-width: none; /* Firefox */
}

.row_posters::-webkit-scrollbar {
  display: none; /* Chrome */
}

.row_poster {
  max-height: 120px;
  object-fit: contain;
  transition: transform 0.3s;
  border-radius: 4px;
  cursor: pointer;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
